



.content{width: 600px;margin: 0 auto;margin-top: 60px;}

ul.treeul{padding-left: 25px;cursor: pointer; box-sizing:border-box;
-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
li.treeli{font-size: 14px;line-height: 24px;padding: 0px 0;color: #333;
	width: 100%; cursor: pointer; box-sizing:border-box;
-moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
span.treeico{font-size: 14px;width: 14px;height: 14px;cursor: pointer;}






























