#hb_style_jiu,.hb_style_jiu_bj{background-color: #ede8e3;}
#hb_style_jiu .hb_style_jiu_bj{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .bannerimgk{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .bannerimgk img{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_dwk{width: 100%;padding: 0;}
#hb_style_jiu .hb_style_jiu_bj .titleimgk_common{width: 65%; margin: 40px auto; }
#hb_style_jiu .hb_style_jiu_bj .titleimgk_common img{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj p.hbmb_neir_yi{color: #333;background-color: #faf8f7;border:solid 2px #d1cbc6;font-size: 15px;line-height: 26px;padding: 20px 15px; }
#hb_style_jiu .hb_style_jiu_bj .numimgdwzk{width: 94%;margin: 0 auto;}
#hb_style_jiu .hb_style_jiu_bj .numimgyi{display: block;width: 96%;margin: 0 auto;position: relative;z-index: 1;}
.hbmb_numbjkbgimgzk{position: relative;z-index: 9;margin-top: -15px;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numbjkbgimg{display: block;width: 100%;margin: 0 auto;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numbjk{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numbjk.top{border-bottom: solid 0px #e5e5e5;padding: 15px 0;background-color: #fa5656;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numdwk{float: left;width: 50%}
#hb_style_jiu .hb_style_jiu_bj .shuxian{width: 1px;height: 46px;border-left: solid 1px #e5e5e5;float: left;margin-top: 12px;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numdwk span{display: block;width: 100%;text-align: center;font-size: 16px;color: #fff;line-height: 34px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numdwk span.bottom{color: #fed804;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_numdwk span.bottom em.dw{color: #fff;}
#hb_style_jiu .hb_style_jiu_bj .yuandianfgx{display: block;margin: 20px auto;width: 80%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_imgk_common img{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .newstouimg{display: block;width: 94%;margin: 0 auto;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsul{width: 94%; margin: 0 auto; cursor: pointer; margin-bottom: 20px;background-color: #faf8f7;border:solid 2px #d1cbc6;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsli{border-top: solid 1px #f5f5f5;padding: 12px 0;margin-left: 3%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsli:nth-child(1){border-top: solid 0px #f5f5f5;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsimgk{width: 25%;float: left;margin-right: 4%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsimgk img{width: 100%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newswz{float: left;width: 65%;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newsbt{width: 100%; font-size: 14px;color: #333;line-height: 36px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_jiu .hb_style_jiu_bj .hbmb_newstime{width: 100%; font-size: 10px;color: #666;line-height: 26px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_jiu .hb_style_jiu_bj .w94{ margin: 0 3%;}




