#hb_style_qi,.hb_style_qi_bj{background-color: #fff;}
#hb_style_qi .hb_style_qi_bj{width: 100%;padding: 0 ;}
#hb_style_qi .hb_style_qi_bj .hbmb_dwk.yi{position: relative; width: 100%; background-size: 100% 100%; background-image: url(../img/7/1001.png);background-color: #fff;}
#hb_style_qi .hb_style_qi_bj .titleimgk_common{width: 100%;text-align: center;font-size: 28px;font-weight: bold;color: #fff;padding-top: 50px; margin: 0px 0 40px 0;}
#hb_style_qi .hb_style_qi_bj .title_wz_common{width: 100%;text-align: center;font-size: 28px;font-weight: bold;color: #fff; margin: 0px 0 40px 0;}
#hb_style_qi .hb_style_qi_bj .hbmb_numbjk.top{width: 100%; border-bottom: solid 0px #e5e5e5;padding: 15px 0;background-color: transparent;position: absolute;bottom: 0;left: 0;}
#hb_style_qi .hb_style_qi_bj .hbmb_numdwk{float: left;width: 50%}
#hb_style_qi .hb_style_qi_bj .hbmb_numdwk span{display: block;width: 100%;text-align: center;font-size: 16px;color: #333;line-height: 34px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_qi .hb_style_qi_bj .hbmb_numdwk span.bottom{color: #e15840;}
#hb_style_qi .hb_style_qi_bj .hbmb_numdwk span.bottom em.dw{color: #333;}
#hb_style_qi .hb_style_qi_bj .border_bk_common{width: 90%;margin: 0 auto; padding: 5% 3%; background-color: #e15840; border-radius: 8px; background-image: url(../img/7/1002.png);background-size: 100% 100%;}
#hb_style_qi .hb_style_qi_bj .bkimgbjk{width: 94%;margin: 0 auto;border-radius: 8px;}
#hb_style_qi .hb_style_qi_bj .bkimg{width: 100%;display: block;border-radius: 8px;max-height: 140px;}
#hb_style_qi .hb_style_qi_bj .hbmb_neir_yi{color: #fff;font-size: 14px;margin: 0px 3%;line-height: 22px;margin-top: 10px;}
#hb_style_qi .hb_style_qi_bj .hbmb_dwk.er,#hb_style_qi .hb_style_qi_bj .hbmb_dwk.san,#hb_style_qi .hb_style_qi_bj .hbmb_dwk.si{
	padding-bottom: 20px; width: 100%; background-size: 100% 100%; background-image: url(../img/7/1004.png);background-color: #fff;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsul{width: 94%; margin: 0 auto; cursor: pointer; background-color: #fff;margin-top: 20px;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsli{border-top: solid 1px #f5f5f5;padding: 12px 0;margin-left: 3%;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsli:nth-child(1){border-top: solid 0px #f5f5f5;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsimgk{width: 25%;float: left;margin-right: 4%;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsimgk img{width: 100%;}
#hb_style_qi .hb_style_qi_bj .hbmb_newswz{float: left;width: 65%;}
#hb_style_qi .hb_style_qi_bj .hbmb_newsbt{width: 100%; font-size: 14px;color: #333;line-height: 36px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_qi .hb_style_qi_bj .hbmb_newstime{width: 100%; font-size: 10px;color: #666;line-height: 26px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_qi .hb_style_qi_bj .hbmb_imgk_common{width: 94%;margin: 0 auto; margin-bottom: 20px;}
#hb_style_qi .hb_style_qi_bj .hbmb_imgk_common img{width: 100%;border: solid 1px #e5e5e5;}
#hb_style_qi .hb_style_qi_bj .hbmb_neir_er{color: #333;font-size: 14px;margin: 20px 3%;line-height: 22px;background-color: #fff;padding: 3%;}
#hb_style_qi .hb_style_qi_bj .erweimaimg{display: block;margin: 0 auto;width: 60%;}
#hb_style_qi .hb_style_qi_bj .weizisan{width: 100%;display: inline-block;text-align: center;margin-top: 20px;margin-bottom: 50px;color: #fff;font-size: 16px;}
#hb_style_qi .hb_style_qi_bj .wenzisi{width: 100%;display: inline-block;text-align: center;font-size: 16px;color: #564595;}

























