#hb_style_wu,.hb_style_wu_bj{background-color: #e8e4e1;}
#hb_style_wu .hb_style_wu_bj{width: 100%;}
#hb_style_wu .hb_style_wu_bj .bannerimgk{width: 100%;}
#hb_style_wu .hb_style_wu_bj .bannerimgk img{width: 100%;}
#hb_style_wu .hb_style_wu_bj .hbmb_dwk{width: 100%;padding: 0;}
#hb_style_wu .hb_style_wu_bj .titleimgk_common{width: 35%; margin: 0 auto;margin-bottom: 40px;}
#hb_style_wu .hb_style_wu_bj .titleimgk_common img{width: 100%;}
#hb_style_wu .hb_style_wu_bj p.hbmb_neir_yi.wenziyi{color: #df7371;}
#hb_style_wu .hb_style_wu_bj p.hbmb_neir_yi.bgimgyi{background-image: url(../img/5/1001.png);background-size: cover;background-position: center;padding: 12%;}
#hb_style_wu .hb_style_wu_bj .hbmb_neir_yi{font-size: 14px; color: #333; text-align: left;line-height: 26px;margin-bottom: 30px;}
#hb_style_wu .hb_style_wu_bj .hbmb_numk{  padding: 4% 10% 13% 28%;margin-bottom: 20px;}
#hb_style_wu .hb_style_wu_bj .hbmb_numk.bgimger{background-image: url(../img/5/1002.png);background-size: cover;background-position: center;}
#hb_style_wu .hb_style_wu_bj .hbmb_yi_num{font-size: 14px;color: #333;width: 100%;}
#hb_style_wu .hb_style_wu_bj .hbmb_yi_num span{text-align: left;line-height: 34px;display: block;}
#hb_style_wu .hb_style_wu_bj .hbmb_yi_num span em.bs{color: #d81c1c;}
#hb_style_wu .hb_style_wu_bj .hbmb_arrow_up{position:absolute;top:-14px;left:49%;z-index:99;width:30px;height:15px;background-image:url(../img/2/upjt.png);background-size:contain;}
#hb_style_wu .hb_style_wu_bj .hbmb_imgk_common{width: 100%;margin-bottom: 20px;}
#hb_style_wu .hb_style_wu_bj .hbmb_imgk_common img{width: 100%;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsul{width: 94%; margin: 0 auto; cursor: pointer; margin-bottom: 20px;}
#hb_style_wu .hb_style_wu_bj .bgimgsan{background-image: url(../img/5/1004.png);background-size: cover;background-position: center;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsli{border-top: solid 1px #f5f5f5;padding: 12px 0;margin-left: 3%;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsli:nth-child(1){border-top: solid 0px #f5f5f5;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsimgk{width: 25%;float: left;margin-right: 4%;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsimgk img{width: 100%;}
#hb_style_wu .hb_style_wu_bj .hbmb_newswz{float: left;width: 65%;}
#hb_style_wu .hb_style_wu_bj .hbmb_newsbt{width: 100%; font-size: 14px;color: #333;line-height: 36px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_wu .hb_style_wu_bj .hbmb_newstime{width: 100%; font-size: 10px;color: #666;line-height: 26px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#hb_style_wu .hb_style_wu_bj .bgimgsi{background-image: url(../img/5/1001.png);background-size: cover;background-position: center;width: 88%; margin: 0 auto; padding: 3%;}
#hb_style_wu .hb_style_wu_bj .w94{ margin: 0 3%;}
#hb_style_wu .hb_style_wu_bj p.hbmb_neir_yi.bgimgsan{margin-bottom: 30px;padding: 5%;}





