#hb_style_ba,.hb_style_ba_bj{background-color: #fff;}
#hb_style_ba .hb_style_ba_bj{width: 100%;padding: 0 ;}
#hb_style_ba .hb_style_ba_bj .hbmb_dwk.yi{position: relative; width: 100%; background-size: 100% 100%; background-image: url(../img/8/1001.png);background-color: #fff;}
#hb_style_ba .hb_style_ba_bj .bannerimgk{width: 100%;margin: 20px 0;}
#hb_style_ba .hb_style_ba_bj .bannerimgk img{width: 100%;}
#hb_style_ba .hb_style_ba_bj .titleimgk_common{width: 35%; margin: 0 auto;margin-bottom: 40px;}
#hb_style_ba .hb_style_ba_bj .titleimgk_common img{width: 100%;}
#hb_style_ba .hb_style_ba_bj .hbmb_neir_yi{color: #333;font-size: 14px;margin: 0px 3%;line-height: 26px;margin-bottom: 20px;}
#hb_style_ba .hb_style_ba_bj .hbmb_dwk.er{background-color: #fff;}
#hb_style_ba .hb_style_ba_bj .hbmb_dwk.san{background-color: #fff;overflow: hidden;}
#hb_style_ba .hb_style_ba_bj .hbmb_dwk.si{background-color: #fff;padding: 60px 0;}
#hb_style_ba .hb_style_ba_bj .numimgxie{display: block;float: left;width: 45%;}
#hb_style_ba .hb_style_ba_bj .numzdwk{display: block;float: left;width: 55%;margin-top: 26%;}
#hb_style_ba .hb_style_ba_bj .dwnum_common{display: block;font-size: 16px;color: #333;margin-bottom: 0; }
.zhanweirq_common{display: block;width: 100%;height: 0px;padding-bottom: 26%;}
#hb_style_ba .hb_style_ba_bj .dwnum_common.yi{margin-left: -3%; }
#hb_style_ba .hb_style_ba_bj .dwnum_common.er{ margin-left: -15%;}
#hb_style_ba .hb_style_ba_bj .dwnum_common.san{margin-left: -27%; }
#hb_style_ba .hb_style_ba_bj .dwnum_common.si{margin-left: -39%; }
#hb_style_ba .hb_style_ba_bj .erweimaimg{display: block;margin: 0 auto;width: 60%; }

























