html,body,div,p,nav,img,input,a,span,i,em,ul,li,table,tr,td,*{ font-family:微软雅黑; position: relative; border: 0; margin: 0; padding: 0; font-style: normal; font-weight: normal; list-style: none; text-decoration: none; background-repeat: no-repeat; }
html{ font-size: 14px; font-family:微软雅黑; }
.common_db{ display: block; float: left; }
.common_fll{ float: left; display: inline-block; margin-right: 10px; }

.dbst{ display: block; }
.dibst{ display: inline-block; }
.fllst{ float: left; clear: both; }
.flrst{ float: right; clear: both; }
.mautost{ margin: 0 auto; }
.tcst{ text-align: center; }
.tlst{ text-align: left; }
.trst{ text-align: right; }
.marnum{ margin: 0; }
.padnum{ padding: 0; }
.mr31{margin-right: 31px;}
.mr30{margin-right: 30px;}
.mt130{margin-top: 130px;}
.mb120{margin-bottom: 120px;}


/* index */

/* header */
.index_img_common{background-image: url(../img/indeximg.png);}
.cb_index_top_bjkzk{ width: 100%; background-color: #fff; position: fixed; top: 0; left: 0; z-index: 9999; }
.cb_index_top_bjk.yi{ width: 100%; background-color: #3c3c3c;color: #ffffff;height: 61px;line-height: 61px;text-align: right;}
.cb_index_top_bjk.er{height: 68px;line-height: 68px;border-bottom: solid 1px #f5f5f5;}
.cb_index_top_bjk .cb_index_top_dwk{ width: 1200px; margin: 0 auto;}
.cb_index_top_bjk .cb_index_top_dwk.yi{}
.cb_index_top_bjk .cb_index_top_dwk.er{}
ul.cb_index_top_dwk_ul_menu.yi{float: right;}
span.index_top_icoimg_common{width: 20px;height: 20px;margin-left: 40px; vertical-align: middle;padding: 0;}
span.index_top_icoimg_common.yi{background-position: -688px -140px;}
span.index_top_icoimg_common.er{background-position: -710px -140px;}
span.index_top_icoimg_common.san{background-position: -732px -140px;}
span.index_top_icoimgsm_common{line-height: 61px;height: 20px;margin-left: 6px;}
.cb_index_top_dwk_img_logo{ background: url(../img/logo.png) no-repeat center; width: 86px; height: 44px;margin-top: 11.5px; }
ul.cb_index_top_dwk_ul_menu.er{float: right;cursor: pointer;}
ul.cb_index_top_dwk_ul_menu.er li{display: inline-block; width: 140px;font-size: 16px;text-align: center;color: #4f4f4f;}
ul.cb_index_top_dwk_ul_menu.er li:hover,ul.cb_index_top_dwk_ul_menu.er li.xuanz{background-color: #46a1da;color: #fff;}
/* footer */
.cb_index_bottom_bjk{width: 100%;background-color: #3c3c3c;color: #d7d7d7;font-weight: normal;}
.footer_bjkzk{width: 1200px;margin: 0 auto;margin-top: 130px;}
ul.footerulyi{width: 100%;display: inline-block;overflow: hidden;margin-bottom: 50px;margin-top: 40px;}
li.footerliyi{vertical-align: middle;color: #ffffff;}
.footeruler{text-align: center;}
.footerleftimg{margin: 0 auto;margin-top: 20px; background: url(../img/logo.png) no-repeat center; width: 86px; height: 44px;}
.footerlier,.footerlier a,.footerlier a:hover{color: #ffffff; font-size: 16px;line-height: 44px;font-weight: normal;}
.footerlier.da{font-size: 20px; line-height: 54px;font-weight: normal;}
.footer_dizhik{line-height: 26px;font-size: 14px;padding-bottom: 50px;}
.footererweimaimg{margin-top: 20px;width: 243px;height: 144px;background-image: url(../img/erweima.png);}

.cb_index_common_comount_bjk{ width: 100%; background-color: #fff; }
.cb_index_common_comount_bjk.baicolor{ background-color: #fff; }
.cb_index_common_comount_dwk{ width: 1200px; margin: 0 auto; }
.cb_index_fenlei_title_dwk{ width: 100%; margin: 0 auto; height: 120px; vertical-align: bottom; }
.cb_index_fenlei_title_dwk_da{ display: block; margin: 0 auto; text-align: center; color: #4e4e4e; font-size: 34px; line-height: 50px; }

.cb_index_cpjs_common.yi{overflow: hidden;width: 1200px;}
.index_cpfwul_common{overflow: hidden;width: 33.33332%;}
.index_cpfwli_common{margin-bottom: 80px;}
.cpfwimg_common{width: 84px;height: 68px;display: inline-block;}
.cpfwimg_common.yi{background-position: -172px -0px}
.cpfwimg_common.yi.xuanz{background-position: -172px -70px}
.cpfwimg_common.er{background-position: -86px -0px}
.cpfwimg_common.er.xuanz{background-position: -86px -70px}
.cpfwimg_common.san{background-position: -0px -0px}
.cpfwimg_common.san.xuanz{background-position: -0px -70px}
.cpfwimg_common.si{background-position: -258px -0px}
.cpfwimg_common.si.xuanz{background-position: -258px -70px}
.cpfwimg_common.wu{background-position: -344px -0px}
.cpfwimg_common.wu.xuanz{background-position: -344px -70px}
.cpfwimg_common.liu{background-position: -430px -0px}
.cpfwimg_common.liu.xuanz{background-position: -430px -70px}
.cpfwimg_common.qi{background-position: -516px -0px}
.cpfwimg_common.qi.xuanz{background-position: -516px -70px}
.cpfwimg_common.ba{background-position: -602px -0px}
.cpfwimg_common.ba.xuanz{background-position: -602px -70px}
.cpfwimg_common.jiu{background-position: -688px -0px}
.cpfwimg_common.jiu.xuanz{background-position: -688px -70px}
span.cpfwsm_common{display: inline-block;font-size:24px;color: #534F49;margin-left: 6px;line-height: 38px; }
span.cpfwsm_common em.xiao{font-size: 12px;line-height: 18px;}
span.cpfwsm_common.xuanz{color: #000000;}

.cpyj_bjk{width: 305px;height: 295px;display: inline-block;}
div.cpyjheight{height: 221px;}
.imgfd_common_img.yi{background-image: url(../img/index/022.png);}
.imgfd_common_img.er{background-image: url(../img/index/023.png);}
.imgfd_common_img.san{background-image: url(../img/index/024.png);}
.imgfd_common_img.yi:hover{background-image: url(../img/index/022.png);}
.imgfd_common_img.er:hover{background-image: url(../img/index/023.png);}
.imgfd_common_img.san:hover{background-image: url(../img/index/024.png);}
.cpyj_sm_common{font-size: 24px;color: #4f4f4f;width: 100%;text-align: center;}

.cb_index_gywm_dwk{width: 1200px;}
.hyya_topbjkzk{background-color: #f8f8f8;width: 1200px;height: 245px;margin-bottom: 60px;}
.hyfa_top_imgk{display: inline-block; width: 605px;height: 245px; background-image: url(../img/index/000.png);}
.hyfa_top_imgk:hover{width:605px;background-image: url(../img/index/001.png);}
.hyfa_top_imgk_smwz{margin-left: 70px;margin-top: 30px; vertical-align: top; font-size: 16px;color: #868686;line-height: 28px;display: inline-block;}
.hyfa_top_imgk_smwz em.da{font-size: 24px;color: #848484;display: block;line-height: 42px;}

.hyfaheight{height: 277px;display: inline-block;width: 277px;}
.imgfd_common_img.shi{background-image: url(../img/index/002.png);}
.imgfd_common_img.shi:hover{background-image: url(../img/index/003.png);}
.imgfd_common_img.shiyi{background-image: url(../img/index/004.png);}
.imgfd_common_img.shiyi:hover{background-image: url(../img/index/005.png);}
.imgfd_common_img.shier{background-image: url(../img/index/006.png);}
.imgfd_common_img.shier:hover{background-image: url(../img/index/007.png);}
.imgfd_common_img.shisan{background-image: url(../img/index/008.png);}
.imgfd_common_img.shisan:hover{background-image: url(../img/index/009.png);}
.imgfd_common_img.shisi{background-image: url(../img/index/010.png);}
.imgfd_common_img.shisi:hover{background-image: url(../img/index/011.png);}
.imgfd_common_img.shiwu{background-image: url(../img/index/012.png);}
.imgfd_common_img.shiwu:hover{background-image: url(../img/index/013.png);}
.imgfd_common_img.shiliu{background-image: url(../img/index/014.png);}
.imgfd_common_img.shiliu:hover{background-image: url(../img/index/015.png);}
.imgfd_common_img.shiqi{background-image: url(../img/index/016.png);}
.imgfd_common_img.shiqi:hover{background-image: url(../img/index/017.png);}

.hyfa_img_bjk{display: inline-block;width: 277px;height: 277px;border-radius: 8px;margin-bottom: 31px;}
.hyfa_img_bjk:hover *{border-radius: 6px;}
.hyfa_common_hy{position: absolute;z-index: 8888;top:182px;width: 235px;height: 235px;}
.hyfa_common_hy.yi{left: 176px;}
.hyfa_common_hy.er{right: 176px;}
.dw_common_hy{width: 108px;height: 108px;border: solid 6px #fff; display: inline-block;background-color: #46a1da;color: #fefeff;font-size: 24px;text-align: center;vertical-align: middle;}
.dwsmwz_common{line-height: 108px;text-align: center;}

.cb_index_hzhb_imgk{width: 1200px;text-align: center;vertical-align: middle;margin-bottom: 60px;}
.index_hzhbimg_common{width: 154px;height: 53px;margin: 0 35px;}
.index_hzhbimg_common.yi{background-position: -0px -139px;}
.index_hzhbimg_common.er{background-position: -156px -140px;}
.index_hzhbimg_common.san{background-position: -310px -140px;}
.index_hzhbimg_common.si{background-position: -466px -140px;}

/* tradingArea */
.sp_dwk_bjk_zk{width: 100%;}
.sp_topimgk{width: 100%;}
.sptopimg{height:492px; background-image: url(../img/area/01.png);background-position: center center;}
.spwhywz{font-size: 30px;color: #6a6a6a;text-align: center;display: block;margin-top: 80px;margin-bottom: 65px;}
.sp_nrdwk{width: 1200px;margin: 0 auto;}
.sp_nrdwk.er{margin-top: 75px;}
.sp_nrdwk.si{margin-top: 100px;}
.sp_liek{width: 325px;display: inline-block;vertical-align: top;}
.sp_liek.er{margin: 0 112px;}
.sp_liek_img{width: 325px;height: 169px;}
.sp_liek p{width: 325px;}
.spliewz{text-align: center;color: #6a6a6a;font-size: 24px;display: inline-block;margin: 30px auto;}
.sp_smwz_common{font-size: 16px;color: #4f4f4f;line-height: 26px;text-align: left;}
.sp_imgicozk{width: 1200px;}
.sp_xiaoimgtuk{margin: 20px 0;overflow: hidden; display: inline-block;vertical-align: middle;text-align:left;}
.sp_xiaoimgtuk.yi{width: 455px;}
.sp_xiaoimgtuk.er{width: 430px;}
.sp_xiaoimgtuk.san{width: 305px;}
.sp_img_smwz_common{float: left; margin-left: 8px; color: #6a6a6a;font-size: 24px;line-height: 43px;height: 43px;display: inline-block;}
.sp_img_common{float: left; background-image: url(../img/area/area.png);width: 45px;height: 43px;display: inline-block;}
.sp_img_common.yi{background-position: 0 0;}
.sp_img_common.er{background-position: -45px -0px;}
.sp_img_common.san{background-position: -90px -0px;}
.sp_img_common.si{background-position: -135px -0px;}
.sp_img_common.wu{background-position: -180px -0px;}
.sp_img_common.liu{background-position: -225px -0px;}
.sp_info_dwk{width: 1200px;margin: 0 auto;text-align: center;vertical-align: middle;}
.sp_info_ul{}
.sp_info_li{margin: 20px auto;vertical-align: middle;text-align: left;}
span em.cred{color: red;line-height: 36px;}
.spname_span_common{margin-left: 320px; font-size: 18px;color: #6a6a6a;display: inline-block;width: 110px;text-align: left;}
input.spval_common,.spval_common{width: 240px;height: 36px;line-height: 36px;border: solid 1px #a7a7a7; border-radius: 4px;margin-left: 6px;}
a.spinfoalink{margin-left: 440px; text-align: center; display: inline-block;font-size: 22px;color: #ffffff;background-color: #a7a7a7;margin-top: 40px; border-radius: 4px; width: 155px;height: 36px;line-height: 36px;}

#distpicker{display: inline-block;width: 240px;margin-left: 6px;}

/* about us*/
.cb_aus_up_dwk{ width: 100%; margin: 0 auto; margin-top: 130px; height: 492px; background: url(../img/aus/01.png) no-repeat center; }
.cb_aus_up_img_bjk{ width: 1200px; margin: 0 auto; height: 492px; }
.cb_aus_up_menu_dwk{ width: 1200px; position: absolute; bottom: 0; height: 65px; vertical-align: middle; background-color: #f8f8f8; }
a.cb_aus_up_mennu_alink{font-size: 18px; color: #6a6a6a; display: inline-block; width: 175px; height: 65px; line-height: 65px; text-align: center; }
a.cb_aus_up_mennu_alink.tou{ background-color: #f8f8f8; color: #6a6a6a; width: 130px; cursor: default; }
a.cb_aus_up_mennu_alink.xuanz,a.cb_aus_up_mennu_alink:hover{  color: #46a1da;border-bottom:solid 1px #46a1da; }
.cb_aus_content_dwk{ width: 100%; margin: 0 auto; min-height: 550px; }
.cb_aus_content_bjk{ }
.cb_aus_common_nrdwk{ width: 1200px; margin: 0 auto; display: none; }

.cb_aus_common_nrdwk.gsjj.yi{  }
.cb_aus_common_nrdwk.gltd.er{ width: 100%;}
.cb_aus_common_nrdwk.fzlc.san{ }
.cb_aus_common_nrdwk.xuanz{ display: block; }

.gsjj_img_bjk{width: 1200px; margin: 75px auto; }
.gsjj_img_common{display: inline-block;width: 292px;height: 198px;margin: 0 4px;}

.cb_aus_gltd_wz{ font-size: 16px; text-indent:2em; color: #6a6a6a; line-height: 28px; display: block; }
.cb_aus_gltd_showimg{ display: block; width: 447px; height: 87px; margin-top: 60px; margin-bottom: 60px;}
.cb_aus_mtbd_common_dwk{ padding: 20px 0; border-top: solid 1px #e3e3e3; vertical-align: top; }
.cb_aus_mtbd_common_dwk:last-child{ border-bottom: solid 1px #e3e3e3; }

.gltd_img_common{width: 1198px;height: 198px;}
.gltd_pop_dwk{width: 100%; margin: 0 auto;}
.gltd_pop_bjk{width: 100%;display: block;}
.gltd_pop_bjk.eve{background-color: #f8f8f8;}
.gltd_pop_bjk.odd{background-color: #ffffff;}
.gltd_pop_nrk{width: 1200px;margin: 0 auto;padding: 55px 0;}
.gltd_pop_nrk p{display: inline-block;text-align: left;}
.gltd_name{width: 270px;margin-left: 100px; line-height: 28px;}
.gltd_name span{font-size: 14px;color: #6a6a6a;}
.gltd_name span.da{font-size: 24px;display: block;}
.gltd_jies{width: 820px; font-size: 16px;color: #4f4f4f;}

.cb_aus_lxwm_dwk{width: 1200px;margin: 0 auto;}
.lxwm_left_dwk{display: inline-block;width: 694px;}
.lxwm_right_dwk{margin-top: 150px; display: inline-block;background-image: url(../img/aus/lxwm/01.png);width: 505px;height: 441px;}
.lxwm_smwz_common{font-size: 16px;color: #6a6a6a;line-height: 28px;height: 28px;}
.lxwm_smwz_common.da{font-size: 22px;line-height: 34px;height: 34px;margin-bottom: 30px;}
.lxwm_img_common{width: 155;height: 155px;display: inline-block;background-size: cover;margin-top: 40px;}
.lxwm_img_common.yi{background-image: url(../img/aus/lxwm/ez.png);}
.lxwm_img_common.er{background-image: url(../img/aus/lxwm/ey.png);margin-left: 60px;}
.lxwm_sm_common{margin-right: 60px;margin-top: 15px; display: inline-block;width: 155px;font-size: 16px;color: #6a6a6a;text-align: center;}


/* zxzx */
.zxzxtopimg{width: 100%;height: 492px;background-image: url(../img/aus/zxzx.png);background-size: cover;background-position: center center;}


/*newslist*/
div.newspop{ min-height: 170px; width: 1100px; margin: 0 auto; margin-bottom: 30px; }
div.newsdy{ min-height: 45px; }
div.newsimgk{ float: left; margin-right: 80px; width: 245px; height: 167px;background-color: #fff; }
div.newsimgk img{ width: 239px; height: 161px; margin: 0 auto; display: block; margin-top: 3px; }
div.newspk{ float: left; width: 770px; }
p.parp{ font-size: 14px; line-height: 24px; color: #5d5d5d; }
p.newsbt{ line-height: 24px; font-size: 24px; color: #4f4f4f; }
p.newsbt span.newstime{ margin-top: 6px; float: right; font-size: 16px; color: #6a6a6a; }
p.newsp{ font-size: 16px; color: #6a6a6a; line-height: 22px; margin-top: 20px; }
.newsfenyek{width: 1200px;margin: 0 auto;text-align: right;}



.cb_aus_wzgg_common_dwk{ width: 1200px; margin: 0 auto; border-bottom: solid 1px #e3e3e3; height: 165px; }
.cb_aus_wzgg_timedatek{ width: 100px; margin-top: 40px; vertical-align: middle; text-align: center; margin-left: 20px; display: inline-block; float: left; font-size: 16px; color: #7e938c; }
.cb_aus_wzgg_timedatek .datime{ font-size: 62px; font-weight: bold; display: block; color: #8a8a8a; }
.cb_aus_wzgg_common_dwk_nrk{ width: 1050px; margin-top: 42px; line-height: 16px; vertical-align: middle; text-align: left; margin-left: 30px; display: inline-block; float: left; }
.cb_aus_wzgg_common_dwk_nrk_wz{ font-size: 14px; color: #7e938c; display: block; }
.cb_aus_wzgg_common_dwk_nrk_wz.cu{ font-weight: bold; }
.cb_aus_wzgg_common_dwk_nrk_xuxian{ border-top: dashed 1px #e3e3e3; display: block; width: 1050px; height: 1px; margin: 15px 0; }
.cb_aus_wzgg_common_dwk.haowai{ background-color: #a4a09f; }
.cb_aus_wzgg_common_dwk.haowai span.cb_aus_wzgg_common_dwk_nrk_wz,
.cb_aus_wzgg_common_dwk.haowai .cb_aus_wzgg_timedatek,
.cb_aus_wzgg_common_dwk.haowai .cb_aus_wzgg_timedatek .datime{ color: #f3f3f3; }
.cb_aus_wzgg_common_dwk.haowai .cb_aus_wzgg_common_dwk_nrk_xuxian{ border-top: dashed 1px #f3f3f3; }
.cb_aus_fzlc_dwk_left{ margin-top: 50px; display: inline-block; float: left; width: 740px; }
.cb_aus_fzlc_dwk_right{ margin-top: 100px; display: inline-block; float: left; width: 392px; height: 484px; background: url(../img/aus/2.jpg) no-repeat center; }
.cb_aus_fzlc_ulk{ border-left: dashed 1px #000; margin-left: 30px; }
li.cb_aus_fzlc_liwz{ margin-left: -12px; background: url(../img/aus/dot1.png) no-repeat left center; text-indent:40px; color: #676767; font-size: 14px; height: 60px; line-height: 60px; text-align: left; }
li.cb_aus_fzlc_liwz em.da{ font-size: 22px; font-weight: bold; line-height: 60px; margin-right: 20px; }
.cb_aus_fllc_jiantouimg_common{ width: 33px; height: 18px; display: block; position: absolute; left: 13px; }
.cb_aus_fllc_jiantouimg_common.shang{ background: url(../img/aus/arrow7.png) no-repeat center; top: -3px; }
.cb_aus_fllc_jiantouimg_common.xia{ background: url(../img/aus/arrow8.png) no-repeat center; bottom: -6px; }

/* contactus.html*/
.cb_aus_up_dwk.cus{ background: url(../img/cus/contactus.jpg) no-repeat center; }
.common_cus{ display: inline-block; float: left; }
.cb_cus_left_dwk{ width: 420px; margin: 80px 60px 0 80px; }
.cb_cus_left_smpk_common{ font-size: 14px; color: #333; line-height: 26px; }
.cb_cus_left_smpk_common.yi{ margin-bottom: 15px; font-size: 16px; font-weight: bold; color: #000; line-height: 34px; }
.cb_cus_left_smpk_common.er{ margin-bottom: 10px; }
.cb_cus_left_smpk_common.san{ margin-bottom: 12px; }
.cb_cus_left_erwmimgk_common{ display: inline-block; margin-right: 30px; }
.cb_cus_left_erwmimgk_common img{ display: block; }
.cb_cus_left_erwmimgk_common span{ width: 100%; text-align: center; display: block; }
.cb_cus_right_dwk{ margin-top: 40px; width: 568px; height: 405px; background: url(../img/cus/map.jpg) no-repeat center; }



/*img da xiao*/
div.imgfd_common_dwk{border-radius: 8px; overflow: hidden; padding: 0px; margin: 0; width: 100%; min-height: 1px; }
div.imgfd_common_img{ border-radius: 8px;  background-size: cover; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-property: box-shadow, transform; transition-property: box-shadow, transform; }
.service-col:hover .hvr-bg-zomm{border-radius: 8px;  -webkit-transform: scale(1.1); transform: scale(1.1); }
.solution-card:hover .hvr-bg-zomm{border-radius: 8px;  -webkit-transform: scale(1.1); transform: scale(1.1); }



















