/*公共部分*/
body{margin:0;padding:0;font-family:'微软雅黑',Microsoft Yahei,SimHei,SimSun ,Arial, Helvetica, sans-serif;font-size:12px;color:#000;width: 100%;background:#f5f4f4;}
input,select{vertical-align:middle;}
img{margin:0;padding:0;border:none;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#333;}
ul,li,ol,p,h1,h2,h3,h4{list-style:none;margin:0;padding:0;}
/*清楚层公共*/
.layout:after{content:""; clear:both; display:block; height:0; visibility:hidden;}
.layout{zoom:1;}
button, html input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer;ime-mode:disabled;vertical-align:middle;}
input{border-radius:0;/*-webkit-appearance:none;*/ /*去除input默认样式*/}
em{font-style:normal;}