@charset "UTF-8";
html,
body,
div,
p,
nav,
img,
input,
a,
span,
i,
em,
ul,
li,
table,
tr,
td,
*{font-size: 14px; position:relative;border:0;margin:0;padding:0;font-style:normal;font-weight:normal;list-style:none;text-decoration:none;background-repeat:no-repeat;-webkit-overflow-scrolling:touch;cursor:pointer;}
html,
body,
html body{min-width:960px;margin:0 auto;-webkit-overflow-scrolling:touch;background-color:#fff;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
img{width: 100%;}
html,body,*{margin: 0;padding: 0;font-size: 14px;}
.ibox-content{width: 95%;margin: 0 auto;margin-top: 15px;}
.mt8{margin-top: 8px;}

select,input{border: solid 1px #c1c1c1;height: 24px;line-height: 24px;}


/**/
.content ul.pagination{text-indent: 0;margin: 0;}
.content .pagination{margin: 0;}

input.date{border: solid 1px #666;}
.datetimepicker table tr td span{height: 26px;line-height: 26px;}
/**/


/*shebeiyingshou*/
.ibox-title{padding: 4px 20px;}
.page_tiele{float: left;}
.go_home{float: right;}


/* */
.main_tjt{width: 100%;height: 600px;min-height: 600px;}

/* */
.xftj_sxk{float: left;width: 140px;height: 24px;line-height: 24px!important; }
.xftj_sxk select,.xftj_sxk input{border: solid 1px #c1c1c1;height: 24px;line-height: 24px;width: 140px;}
.sbys_sxk{float: left;width: 100px;height: 24px;line-height: 24px!important; }
.sbys_sxk select,.sbys_sxk input{border: solid 1px #c1c1c1;height: 24px;line-height: 24px;width: 100px;}
.sbys_sxk button{border: 0; height: 24px;line-height: 24px!important; width: 39px;margin: 0 auto;padding: 0px 3px;font-size: 11px;height: auto;}
