@charset "UTF-8";
html,body,div,p,nav,img,input,a,span,i,em,ul,li,table,tr,td,*{ font-family:微软雅黑; position: relative; border: 0; margin: 0; padding: 0; font-style: normal; font-weight: normal; list-style: none; text-decoration: none; background-repeat: no-repeat; }
html{ font-size: 14px; font-family:微软雅黑; }
@media screen and (min-width:800px){html{font-size:20px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:18px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:17px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:16px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:374px) and (max-width:414px){html{font-size:14px}}
@media screen and (min-width:310px) and (max-width:373px){html{font-size:10px}}
html{font-size:62.5%;}
body{font-size:1.4rem;}
.bd-w100{width: 100%;display: block;}
.bd-dib{display: inline-block;}
.fll{float: left;}
.flr{float: right;}
div.function-border-eve input[type="text"],div.function-border-odd input[type="text"]{
	height: 2rem;border: solid 1px #d2d2d2;
}
div.function-border-eve{ overflow: hidden; width: 90%; margin: 0 auto; margin-top: 15px; margin-bottom: 10px; padding: 15px 3%; border: dashed 3px red; }
div.function-border-odd{ overflow: hidden; width: 90%; margin: 0 auto; margin-top: 15px; margin-bottom: 10px; padding: 15px 3%; border: dashed 3px green; }
div.function-border-eve input[type="button"],div.function-border-odd input[type="button"]{
	padding: 0.7rem 1rem;margin-top: 0.7rem;margin-left: 0.5rem; cursor: pointer;border-radius: 4px; display: inline-block;color: #fff;background-color: #fd5555;font-size: 1.1rem;
}

/*page  index.html*/
p.eg-p-width{ border: solid 1px blue; }
p.eg-p-height{ float: left; margin-left: 10px; border: solid 1px blue; }

/* index*/
.zj-titlek{ height: 2.5rem; line-height: 2.5rem; text-align: center; background-color: #fd5555; }
.zj-title{ height: 2.5rem; line-height: 2.5rem; text-align: center; color: #fff; font-size: 1.2rem; }
.zj-urlzk{overflow: hidden; margin: 0 auto;}
.zj-urldwk{ width: 98%;padding: 1%; margin: 0 auto; overflow: hidden;}
.zj-url-common{ display: block; height: 2rem; line-height: 2rem; font-size: 1rem; text-align: center; border-radius: 4px; 
	background-color: #00a9ee; color: #fff; padding: 0 0.8rem; margin-right: 1rem; margin-bottom: 1rem;}
.ifr_zk{width: 100%;min-height: 600px;}
.ifr_bjdwk{width: 100%;min-height: 600px;}








