@charset "UTF-8";
html,body,div,p,nav,img,input,a,span,i,em,ul,li,table,tr,td,*{ 
	font-family:微软雅黑; 
	position: relative; 
	border: 0; 
	margin: 0; 
	padding: 0; 
	font-style: normal; 
	font-weight: normal; 
	list-style: none; 
	text-decoration: none; 
	background-repeat: no-repeat; 
}
html{ font-size: 14px; font-family:微软雅黑; }
@media screen and (min-width:800px){html{font-size:26px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:24px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:411px) and (max-width:639px){html{font-size:18px}}
@media screen and (min-width:371px) and (max-width:410px){html{font-size:16px}}
@media screen and (min-width:310px) and (max-width:370px){html{font-size:14px}}