<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script>
    var initParams = {
        "css": [],
        "js": ["js/views/index.js"],
        "title": "首页"
    };
    </script>
    <script src="../../js/init.js"></script>
    <title></title>
</head>

<body ontouchstart>
    <div class="page">
        <div class="page_bd">
            <div class="weui-tab">
                <div class="weui-tab_panel">
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>